[submodule "External/progress-hud"]
	path = External/progress-hud
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "External/wordkit"]
	path = External/wordkit
	url = https://github.com/wordnik/wordkit.git
[submodule "External/SVProgressHUD"]
	path = External/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
