[submodule "External/wordkit"]
	path = External/wordkit
	url = https://github.com/wordnik/wordkit.git
[submodule "External/SVProgressHUD"]
	path = External/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
